{{> message}}

<div>
    <p>總金額：</p>
    <p style="font-size: 2rem;">{{ totalAmount }}</p>
</div>

<div class="dropdown mb-3">
    <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        類別
    </button>
    <ul class="dropdown-menu">
        {{#each categories as |category|}}
        <li><a class="dropdown-item {{#if category.isSelected}} active {{/if}}"
                href="/records/filtered-by/{{category.name}}">{{category.name}}</a></li>
        {{/each}}
    </ul>
</div>

<div>
    {{#each records as |record|}}
    <div style="border: 1px solid #aaaaaa;">
        <i class="fa-solid fa-{{ record.icon }}"></i>
        <p>{{ record.name }}</p>
        <p>{{ record.date }}</p>
        <p>{{ record.amount }}</p>
    </div>
    <a href="/records/{{ record.id }}/edit">
        <button>修改</button>
    </a>
    <a href="/records/{{ record.id }}/delete-confirm">
        <button>刪除</button>
    </a>
    {{/each}}
</div>

<div>
    <a href="/records/new">
        <button>新增支出</button>
    </a>
</div>